# Find the largest number in array

In [ ]:
from array import *
arr=array('i',[0,-1,-3,3,6,78,34,69,87,22,12,74,34])
max_arr=max(arr)
max_arr

### 2rd method

In [ ]:
from array import *
arr=array('i',[0,-1,-3,3,6,78,34,69,87,22,12,74,34])
max_val = float('-inf')
for item in arr:
    if item > max_val:
        max_val = item
print(max_val)

# Find the 2rd largest number in array

In [ ]:
from array import *
arr=array('i',[0,-1,-3,3,6,78,34,69,87,22,12,74,74,34,74,34])
s_arr=set(arr)
sa_arr=sorted(s_arr,reverse=True)
# third largest number
if len(sa_arr) > 3:
    print(sa_arr[2])
else: 
    print(f'Array has less than {len(sa_arr)} numbers')

### 2rd method

In [ ]:
from array import *
arr=array('i',[0,-1,-3,3,6,78,34,69,87,22,12,74,74,34,74,34])

for i in range(len(arr)):
    swapper=False
    for j in range(len(arr)-i-1):
        if arr[j] < arr[j+1]:
            arr[j],arr[j+1] = arr[j+1],arr[j]
            swapper=True
    if not swapper:
        break

unique_arr = array('i')
unique_arr.append(arr[0])

for i in range(1, len(arr)):
    if arr[i] != arr[i - 1]:
        unique_arr.append(arr[i])
print(unique_arr)

# third largest number
if len(unique_arr) > 3:
    print(unique_arr[2])
else: 
    print(f'Array has less only {len(unique_arr)} elements')

### 3rd method

In [ ]:
from array import array

def find_third_largest(arr):
    first = second = third = float('-inf')
    for num in arr:
        if num == first or num == second or num == third:
            continue    
        if num > first:
            third = second
            second = first
            first = num
        elif num > second:
            third = second
            second = num
        elif num > third:
            third = num
    if third == float('-inf'):
        return None
    return third
arr1 = array('i', [0,-1,0,-1,0,-1,0,-1,-1,0])
arr2 = array('i', [0, -1, -3, 3, 6, 78, 34, 69, 87, 22, 12, 74, 74, 34, 74, 34])
print(find_third_largest(arr1))
print(find_third_largest(arr2))

# Find the Nth largest Number

In [ ]:
## from array import *
arr = array('i', [0, -1, -3, 3, 6, 78, 34, 69, 87, 122, 12, 74, 74, 34, 74, 34])
s_arr=set(arr)
a_arr=array('i',s_arr)
sa_arr=sorted(a_arr,reverse=True)
# Nth largest number
N=int(input('Nth Largest Number:'))
if len(sa_arr) > N:
    print(sa_arr[N-1])
else: 
    print(f'Array has less than {N} numbers')

### 2nd Method

In [ ]:
from array import *
arr=array('i',[0,-1,-3,3,6,78,34,69,87,22,12,74,74,34,74,34])

for i in range(len(arr)):
    swapper=False
    for j in range(len(arr)-i-1):
        if arr[j] < arr[j+1]:
            arr[j],arr[j+1] = arr[j+1],arr[j]
            swapper=True
    if not swapper:
        break

unique_arr = array('i')
unique_arr.append(arr[0])

for i in range(1, len(arr)):
    if arr[i] != arr[i - 1]:
        unique_arr.append(arr[i])
print(unique_arr)

# Nth largest number
N=int(input())
if len(unique_arr) > N:
    print(unique_arr[N-1])
else: 
    print(f'Array has less only {len(unique_arr)} elements')

# you need to get/read students mark for five subjects  Minimum of five students.  Find how many students scored marks between 450 to 500 and how many scored between 400 to 450.

In [ ]:
from array import *
subject1_marks = array('i',[85, 90, 78, 92, 88, 76, 95, 89, 84, 91, 87, 80, 83, 94, 77, 82, 85, 90, 78, 92, 88, 76, 95, 89, 84, 91, 87, 80, 83, 94])
subject2_marks = array('i',[78, 85, 90, 88, 76, 92, 89, 84, 91, 87, 80, 83, 94, 77, 82, 85, 90, 78, 92, 88, 76, 95, 89, 84, 91, 87, 80, 83, 94, 77])
subject3_marks = array('i',[92, 88, 76, 95, 89, 84, 91, 87, 80, 83, 94, 77, 82, 85, 90, 78, 92, 88, 76, 95, 89, 84, 91, 87, 80, 83, 94, 77, 82, 85])
subject4_marks = array('i',[85, 90, 78, 92, 88, 76, 95, 89, 84, 91, 87, 80, 83, 94, 77, 82, 85, 90, 78, 92, 88, 76, 95, 89, 84, 91, 87, 80, 83, 94])
subject5_marks = array('i',[78, 85, 90, 88, 76, 92, 89, 84, 91, 87, 80, 83, 94, 77, 82, 85, 90, 78, 92, 88, 76, 95, 89, 84, 91, 87, 80, 83, 94, 77])
tot_marks = array('i')

for i in range(len(subject1_marks)):
    tot_marks.append(subject1_marks[i]+subject2_marks[i]+subject3_marks[i]+subject4_marks[i]+subject5_marks[i])

for i in range(len(tot_marks)):
    swapper=False
    for j in range(len(tot_marks)-i-1):
        if tot_marks[j] < tot_marks[j+1]:
            tot_marks[j], tot_marks[j+1] = tot_marks[j+1], tot_marks[j]
            swapper=True
    if not swapper:
        break

first_rank=0
second_rank=0
for a in tot_marks:
    if 450 <= a <= 500:
        first_rank+=1
    elif 400 <= a <= 450:
        second_rank+=1
print(f'No.Of.Students scored marks between 450 to 500 = {first_rank}')
print(f'No.Of.Students scored marks between 400 to 450 = {second_rank}')

### Get Input by User

In [ ]:
M=int(input('No.Of.Students :'))
N=int(input('No.Of.Subjects :'))
subjects_mark={}

def get_valid_input(index,i):
    while True:
        try:
            score = int(input(f"Enter the marks for student {index + 1} in subject {i+1}: "))
            if 0 < score <= 100:
                return score
            else:
                print("Error: Marks should be between 0 and 100. Please try again.")
        except ValueError:
            print("Error: Invalid input. Please enter a number.")

def collect_marks(num_student,i):
    sub_mark=[]
    print(f'\nEntering marks for Subject {i+1} :')
    for student in range(num_student):
        mark = get_valid_input(student,i)
        sub_mark.append(mark)
    return sub_mark

for i in range(N):
    subjects_mark[f'subject_{i+1}']=collect_marks(M,i)

print(subjects_mark)

# Test this method using SampleData(5-Subjects, 30-Students)

In [ ]:
sampleSubjectsMark={
    'subject1' : [85, 90, 78, 92, 88, 76, 95, 89, 84, 91, 87, 80, 83, 94, 77, 82, 85, 90, 78, 92, 88, 76, 95, 89, 84, 91, 87, 80, 83, 94],
    'subject2' : [78, 85, 90, 88, 76, 92, 89, 84, 91, 87, 80, 83, 94, 77, 82, 85, 90, 78, 92, 88, 76, 95, 89, 84, 91, 87, 80, 83, 94, 77],
    'subject3' : [92, 88, 76, 95, 89, 84, 91, 87, 80, 83, 94, 77, 82, 85, 90, 78, 92, 88, 76, 95, 89, 84, 91, 87, 80, 83, 94, 77, 82, 85],
    'subject4' : [85, 90, 78, 92, 88, 76, 95, 89, 84, 91, 87, 80, 83, 94, 77, 82, 85, 90, 78, 92, 88, 76, 95, 89, 84, 91, 87, 80, 83, 94],
    'subject5' : [78, 85, 90, 88, 76, 92, 89, 84, 91, 87, 80, 83, 94, 77, 82, 85, 90, 78, 92, 88, 76, 95, 89, 84, 91, 87, 80, 83, 94, 77]
}

In [ ]:
tot_marks=[]
for i in range(len(sampleSubjectsMark['subject1'])):
    tot_marks.append(sampleSubjectsMark['subject1'][i]+sampleSubjectsMark['subject2'][i]+sampleSubjectsMark['subject3'][i]+sampleSubjectsMark['subject4'][i]+sampleSubjectsMark['subject5'][i])

for i in range(len(tot_marks)):
    swapper=False
    for j in range(len(tot_marks)-i-1):
        if tot_marks[j] < tot_marks[j+1]:
            tot_marks[j], tot_marks[j+1] = tot_marks[j+1], tot_marks[j]
            swapper=True
    if not swapper:
        break

first_rank=0
second_rank=0
for a in tot_marks:
    if 450 <= a <= 500:
        first_rank+=1
    elif 400 <= a <= 450:
        second_rank+=1
print(f'No.Of.Students scored marks between 450 to 500 = {first_rank}')
print(f'No.Of.Students scored marks between 400 to 450 = {second_rank}')