### Importing and Checking version

In [2]:
import pandas as pd

In [8]:
pd.__version__

'2.2.3'

### Create dataframe in Python

In [15]:
data = {
    'Student_name' : ['Harish', 'Ganesh', 'Afshal', 'Mahi', 'Shiyam'],
    'Register_number' : ['122012012857', '122012012853', '122012012862', '122012012833', '122012012820'],
    'Subject_1' : [70, 78, 76, 70, 61],
    'Subject_2' : [83, 89, 48, 92, 78],
    'Subject_3' : [94, 86, 98, 69, 59],
    'Subject_4' : [73, 74, 81, 85, 94],
    'Subject_5' : [67, 63, 93, 93, 70],
    'Total' : [387, 390, 396, 389,373]
}kkk

In [21]:
dataframe = pd.DataFrame(data, columns = ['Student_name', 'Register_number', 'Subject_1', 'Subject_2', 'Subject_3', 'Subject_4', 'Subject_5','Total'])

In [23]:
dataframe

,Student_name,Register_number,Subject_1,Subject_2,Subject_3,Subject_4,Subject_5,Total
0,Harish,122012012857,70,83,94,73,67,387
1,Ganesh,122012012853,78,89,86,74,63,390
2,Afshal,122012012862,76,48,98,81,93,396
3,Mahi,122012012833,70,92,69,85,93,389
4,Shiyam,122012012820,61,78,59,94,70,373